@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Overpass');


.main_app{
  height: 100vh;
  background-image: url('../assets/main_bg.svg');
  background-repeat: no-repeat;
  background-position: 50% 99%;
  margin: 0;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}
#logo{
  margin-top: 0.3%;
  font-family: 'Overpass', sans-serif;
  font-size: 2.5vh;
  color: black;
  margin-left: 3px; 
}

.stathelp{
  position: absolute;
  top:-1; 
}

img{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.vectors{
  top: 0;
  margin: auto; 
  position: relative;
  width: 50%; 
}

#categories{
  margin-top: 7%;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 2.3vh;
  color: black;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
