@import url('https://fonts.googleapis.com/css?family=Oswald');

html,body{
  height: 100%
}
body{
  background-image: url('../assets/vector.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
}
#logo{
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
  color: white;
}