@import url('https://fonts.googleapis.com/css?family=Overpass');

.Landing_Page{
    background-image: url('../assets/landing/mobile_bg.svg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 100% 100%;
    margin: 0;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;

}
html {
    scroll-behavior: smooth;
}
.Landing_Page_2{
    background-image: url('../assets/landing/desktop_bg_2.svg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 100% 100%;
    margin: 0;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;

    scroll-snap-align: start;
}
.Landing_Page_3{
    background-image: url('../assets/landing/desktop_bg_3.svg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 100% 100%;
    margin: 0;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;

}

.Title{
    font-size: 5vh;
    margin-top: 2%;
    margin-left: 2%;
    font-weight: bold;
    font-family: 'Overpass';
}  
.sub_text{
    font-size: 2.3vh;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Overpass';
    padding: 8;

} 
/*Laptops and desktop */
@media screen and (min-width: 1300px) {

   .Landing_Page{
        background-image: url('../assets/landing/desktop_bg.svg');  
   }
}

/*Landscape tablets*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .Title{
        width: 30%;
    }
   .sub_text{
        width:30%;
   }
}

