.utils{
    background-image: url('../assets/utils/background.svg');
    height: 100vh;
    width: 100%;
}

.title{
    font-family: 'Overpass', sans-serif;
    font-size: 3vh; 
    transform: translateY(75%);
    text-align: center;
    color: white;
  }
.bg_card_image{
    width: 50%;
    margin-top: 10%; 
}