/*
CSS Utils.js and children 
*/
.utils{
    background-image: url('../assets/utils/background.svg');
    height: 100vh;
    width: 100%;
    background-color: #5E3656;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.title{
    font-family: 'Overpass', sans-serif;
    font-size: 3vh; 
    transform: translateY(75%);
    text-align: center;
    color: white;
  }
.bg_card_image{
    width: 50%;
    margin-top: 10%; 
}

.final_output{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 3vh; 
    
    font-weight: bold;
    transform:translateY(50%);
}

.distribution_final_output{
    font-family: 'Overpass', sans-serif;
    overflow-y: auto;
    margin-top: 2%;
    max-height: 50vh;
}
#output_text{
    transform:translateY(60%); 
}
.disappear{ 
    display: none; 
}
.line{
    margin-left: 25%;
    border:none;
    border-top: 10px dotted #EFDEF9;
    color:#fff;
    background-color:#fff;
    width:50%;
    height: '150px'
}
.choose_ops{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 2vh; 
}

.instructions{
    transform: translateY(10%);
    border-radius: 10px;
    background: #FCEFF4;
    text-align: center;
    min-height: 100px;
    max-height: 5%;
    font-size: 1.5vh;
}